{% load static %}
<div class="row">
    <div class="col-2">
        <h1>Welcome to LuxeLaces, <br> </h1>
        <h3>Step up your sneaker game with LuxeLaces—where luxury meets laces!</h3>
        <p>We offer a curated collection of premium sneakers designed to
            elevate your wardrobe and keep you stepping in confidence. Whether you're chasing the
            latest trends or seeking timeless classics, our selection caters to every sneaker enthusiast.
            With a focus on quality craftsmanship and exceptional customer service,
            LuxeLaces ensures every pair delivers unmatched comfort and durability.
            </p>
        
        
    </div>
    <div class="col-2">
        <img src="{% static 'images/logo2.png ' %}">
    </div>
</div>