{% load static %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{ product.image.url }}" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="{{ product.image.url }}" width="100%" class="small-img">
                </div>
            </div>

        </div>
        <div class="col-2">
            <p>{{product.brand}}</p>
            <h1>{{product.title}}</h1>
            <h4>₹{{product.price}}</h4>

            <form action="{% url 'add_to_cart' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="product_id"/>
            <h4>Size: UK<input type="number" value="5" min="5" max="10"> </h4>
            <h5>Qty <input type="number" name="quantity" value="1" min="1"></h5>
            <button type="submit" class="btn">Add To Cart</button>
            </form> 

            <h3>Product Details </h3>
            <br>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>